<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.restoflash.api.local">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"
        android:maxSdkVersion="22" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <application>
        <service android:name="fr.restoflash.api.local.android.sync.authenticator.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
        <service
            android:name="fr.restoflash.api.local.android.sync.RestoFlashService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/restoflash_sync_adapter" />
        </service>

        <provider
            android:name="fr.restoflash.api.local.android.dao.SerializablePaymentContentProvider"
            android:authorities="fr.restoflash.local.android.dao.provider"/>
    </application>
</manifest>
